@model shivamTask.Models.ViewModel.AddEmployee
<div class="text-center">
    <h1>Add Employee</h1>
    <div>
        <form asp-action="AddEmployee" asp-controller="Employee" method="post" class="align-center">

            <label>Name</label>
            <input  type="text" asp-for="Name"/>
            <label>AdharNo.</label>
            <input type="number" asp-for="AdharNo" />
            <label>Role</label>
            <input type="text"  asp-for="Role"/>
            <label>Email</label>
            <input type="email" asp-for="Email"/>
            <input type="submit" />
        </form>
    </div>
</div>