@{
    ViewData["Title"] = "Home Page";

}
@model List<shivamTask.Models.ViewModel.AddEmployee> 

<div class="text-center">
    Welcome To My Employee Website
      <a></a> <br />
    <button> <a asp-action="Add" asp-controller="Employee">Add Employee</a>
    </button>


     <br />

     <div class="text-center">

         <h1>All My employees</h1>
        @foreach(var record in Model)
        {   <div class="text-center bg-success text-white">
            <h1>Name: @record.Name       </h1>
            <h2>Email: @record.Email</h2>
            <h3>AdharNo: @record.AdharNo</h3>
            <h4>Role: @record.Role</h4>
 </div>
        }
    </div>
</div>
